::ng-deep .my-modal .ant-modal-content{
  margin: 0;
  border-radius: 1rem;
  border: 1px solid var(--Primary, #6969c1);
  background-color: #fff;
  max-height: 97vh;
  overflow-y: auto;
  scrollbar-color: var(--mark-1-text-color) transparent;
  scrollbar-width: thin;
  color: var(--main-text-color);
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}
