<form
  nz-form
  nzLayout="inline"
  [formGroup]="authForm"
  (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Введите логин!">
      <nz-input-group nzPrefixIcon="user">
        <input
          [formControl]="authForm.controls.userName"
          nz-input
          type="email"
          placeholder="example@example.ru" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Введите пароль!">
      <nz-input-group nzPrefixIcon="lock">
        <input
          [formControl]="authForm.controls.password"
          nz-input
          type="password"
          placeholder="пароль" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="authForm.invalid"
        class="btn">
        Войти
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
